PORT=3000
NODE_ENV=development
LOG_LEVEL=info
DATABASE_URL=
JWT_SECRET=
JWT_EXPIRES_IN=1d
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
ARCJET_KEY=
EMAIL_USER=
EMAIL_PASS=
ML_SERVICE_URL=http://localhost:5001
FRONTEND_URL=http://localhost:5173